body{
	margin: 0;
	padding: 0;
	font-family: "montserrat",sans-serif;
	min-height: 100vh;
	background-color:#fff;

}

.container{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #343434;
}

.container img{
	width: 250px;
}

.container a{

	text-decoration: none;
	background: #28acca;
	color: #fff;
	padding: 12px 24px;
	display: inline-block;
	border-radius: 25px;
	text-transform: uppercase;
	transition: 0.4s;
}

.container a:hover{
	background: #3866ce;
}
